table {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  border-radius: 2px;
}

table thead tr th {
  border-radius: 2px;
  height: 30px;
  border: 2px solid black;
}

table tbody tr td {
  border-radius: 2px;
  height: 25px;
  border: 1px solid black;
}

table tbody tr td a {
  transition: 200ms;
}

table tbody tr td a:hover {
  color: blue;
}

@media (min-width: 900px) {
  table {
    width: 800px;
  }
}